*.suo
*.user
*.ReSharper
_ReSharper*
*.docstates
*.sln
*.dotCover
*.orig
bin/
obj/
Debug/
Release/
/CommonAssemblyInfo.cs
/artifacts
/buildArtifacts
/testResults
/_revision.txt
/NDependOut
*.dbmdl
*.ncrunch*
*crunchsolution*
TestResult.xml
TAGS
specfailures.html
