*.suo
*.user
*.ReSharper
_ReSharper*
*.docstates
*.sln
*.dotCover
*.orig
bin/
obj/
Debug/
Release/
ClientBin/
/CommonAssemblyInfo.cs
/artifacts
/buildArtifacts
/testResults
/_revision.txt
/NDependOut
*.dbmdl
*My.Post.Deployment.sql
databases/PS.Data.Reports/PS.Data.Reports/sql/
databases/PS.Data.Warehouse/sql/
*.ncrunch*
*crunchsolution*
TestResult.xml
TAGS
specfailures.html
